<div class="card">
  <h2>Clientes Debora Sanabria Hair</h2>

  <p-panel [header]="editMode ? 'Editar Cliente' : 'Nuevo Cliente'" styleClass="p-shadow-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid grid ">

      <div class="field col-12 md:col-6">
        <label>Nombre</label>
        <input pInputText formControlName="nombre" />
        <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="p-invalid">
          <i class="pi pi-exclamation-triangle"></i>
          <small class="p-error" *ngIf="form.get('nombre')?.errors?.['required']"> El nombre es obligatorio</small>
          <small class="p-error" *ngIf="form.get('nombre')?.errors?.['minlength']">Mínimo 3 caracteres> El nombre es
            obligatorio</small>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label>Descripción</label>
        <input pInputText formControlName="descripcion" />
        <small *ngIf="form.get('descripcion')?.invalid && form.get('descripcion')?.touched" class="p-error">
          La descripción es obligatoria y debe tener al menos 10 caracteres
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Técnica</label>
        <p-dropdown [options]="tecnicas" formControlName="tecnica" optionLabel="label" optionValue="value"
          [options]="tecnicas" placeholder="Seleccione técnica"
          [ngClass]="{ 'ng-invalid ng-dirty': f['tecnica'].invalid && (f['tecnica'].dirty || f['tecnica'].touched) }"></p-dropdown>
        <p-message severity="error" text="Técnica requerida"
          *ngIf="f['tecnica'].errors?.['required'] && (f['tecnica'].dirty || f['tecnica'].touched)"></p-message>
        <small *ngIf="form.get('tecnica')?.invalid && form.get('tecnica')?.touched" class="p-error">
          La técnica es obligatoria
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Cantidad</label>
        <p-inputNumber formControlName="cantidad"></p-inputNumber>
        <small *ngIf="form.get('cantidad')?.invalid && form.get('cantidad')?.touched" class="p-error">
          La cantidad debe ser mayor que 0
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Precio Unitario</label>
        <p-inputNumber formControlName="precioUnitario" mode="currency" currency="COP"></p-inputNumber>
        <small *ngIf="form.get('precioUnitario')?.invalid && form.get('precioUnitario')?.touched" class="p-error">
          El precio unitario es obligatorio
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Precio Total</label>
        <p-inputNumber formControlName="precioTotal" mode="currency" currency="COP"></p-inputNumber>
        <small *ngIf="form.get('precioTotal')?.invalid && form.get('precioTotal')?.touched" class="p-error">
          El precio total es obligatorio
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Dirección</label>
        <input pInputText formControlName="direccion" />
        <small *ngIf="form.get('direccion')?.invalid && form.get('direccion')?.touched" class="p-error">
          La dirección es obligatoria
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Celular</label>
        <input pInputText formControlName="cel" />
        <small *ngIf="form.get('cel')?.invalid && form.get('cel')?.touched" class="p-error">
          El celular es obligatorio
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Fecha</label>
        <p-calendar formControlName="fecha" dateFormat="yy-mm-dd"
          [ngClass]="{ 'ng-invalid ng-dirty': f['fecha'].invalid && (f['fecha'].dirty || f['fecha'].touched) }"></p-calendar>
        <p-message severity="error" text="Fecha requerida"
          *ngIf="f['fecha'].errors?.['required'] && (f['fecha'].dirty || f['fecha'].touched)"></p-message>

        <small *ngIf="form.get('fecha')?.invalid && form.get('fecha')?.touched" class="p-error">
          La fecha es obligatoria
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label>Imagen (URL)</label>
        <input pInputText formControlName="image" />
      </div>

      <div class="form-actions col-12">
        <button pButton type="submit" class="p-button-success mr-2" label="Guardar" icon="pi pi-check"
          [disabled]="form.invalid"></button>
        <button pButton type="button" class="p-button-secondary" label="Cancelar" icon="pi pi-times"
          (click)="onCancel()"></button>
      </div>

    </form>
  </p-panel>
</div>
